body {
  background-color: rgb(33, 32, 32);
  color: aliceblue;
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

th {
  background-color: black;
  color: fff;
}

*td {
  background-color: rgb(33, 32, 32);
  color: white;
  text-align: center;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

table {
  border: 2px solid rgb(200, 200, 200);
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.star-wars-logo {
  height: 60px;
  width: 160px;
}

.table-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
}

.input-filter-by-text {
  background-color: #282c34;
  border-radius: 8px;
  height: 30px;
  width: 260px;
}
